h1 {
  font-family: 'Fredoka One';
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0px;
}
.greetings {
  text-align: center;
}
.footer {
font-family: 'Share Tech Mono';
font-size: 17px;
text-align: center;
}
.footer span{
  font-family: 'Libre Barcode 39 Extended Text';
  font-size: 30px;
  text-align: center;
} 
a {
    color:#ffffff;
    text-decoration:none;
}
.barlink {
    font-size:12px;
}
